<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head.ejs") %>

        <title>Consejos</title>
</head>

<body>
    <header>

        <%- include("./partials/header.ejs") %>
    </header>
    <main>
        <section class="cuerpo-texto">
            <h1 class="titular">Guía de hábitos saludables</h1>

            <h2>¿Por dónde empezamos?</h2>

            <p>Para conseguir hábitos saludables es importante trabajar a consciencia sobre los siguientes
                puntos:</p>

            <ul class="lista-consejos">
                <li>Moviminto diario</li>
                <li>Gestión de emociones y descanso</li>
                <li>Alimentación saludable</li>

            </ul>

            <h3 class="titular"><em>Movimiento</em></h3>
            <p>En un principio, ya empezar a encontrarnos con nuestro cuerpo en movimiento es
                clave.Contribuye a adquirir mayor conciencia corporal, conectamos un poco más con
                las capacidades, y valorar eso que nos permite hacer nuestro cuerpo.
                Buscar pausas activas cada 40 minutos, levantarse a cargar un vaso con agua, sumar
                pasos, sumar cuadras, hacer mandados, elegir subir por escaleras, elegir el camino un
                poco más largo, todo es válido. Poco es mejor que nada.
                Además al entrenar sumamos capacidades aeróbicas y musculares.
                El desarrollo del músculo es clave. A mayor masa muscular, mayor metabolismo,
                mayor será nuestro gasto aun estando en reposo.</p>


            <h3 class="titular"><em>Gestión de emociones </em></h3>
            <p>Gran cantidad de elecciones alimentarias están asociadas a situaciones emocionales.
                Mientras más recursos para gestionar nuestras emociones encontremos menos
                vamos a recurrir a los alimentos para tal fin.
                Por otro lado, llegar a los momentos de ingesta con ritmo acelerado hacen que
                perdamos conciencia para tomar decisiones.</p>

            <h3 class="titular"><em>Alimentación saludable</em></h3>
            <p>Pequeños cambios sostenidos en el tiempo hacen la diferencia.</p>

            <h4>¿PARA QUÉ COMEMOS?</h4>
            <p>Podemos encontrar un balance entre comer para nutrirnos, cumplir nuestros
                objetivos de salud y darnos ciertos gustos. Intentemos encontrar un punto de
                flexibilidad alimentaria, 80-20 o 90-10.
                Ejemplo: Si solo descuidamos nuestra alimentación en 5 comidas en la semana (20%), quiere decir que
                en las otras 23 comidas (80%) nuestra alimentación fue completa y suficiente, lo que nos acerca a los
                objetivos es el 80% del tiempo que es mucho más significativo e impacta a largo plazo. Ese 20% del
                tiempo es para relajarnos, y no necesariamente estar pendientes del valor nutricional de la comida.</p>

            <h4>¿QUÉ COMEMOS? </h4>
            <p>Optar por alimentos con poco procesamiento industrial.
                Más vegetales, frutas, legumbres, opciones integrales con fibra y semillas, frutos
                secos y lácteos descremados.
                Disminuir la cantidad de azúcar y edulcorantes para reducir el umbral de dulce y
                descubrir más sabores! (esto también ayuda a nuestra flora intestinal)</p>

            <h4>¿CÓMO COMEMOS? </h4>
            <p>Planificar compras inteligentes priorizando alimentos de buena calidad.
                Stockear la alacena, heladera y freezer con alimentos convenientes.
                Evitar pasar más de 5-6 horas sin comer.
                Planificar las comidas fuera de casa. Cocinar de más y dejar una porción de la cena
                para el día siguiente.
                Tener siempre una botella con agua a mano.</p>

            <h4>¿CUÁNTO COMEMOS?</h4>
            <p>¿Las cantidades de lo que estoy comiendo son suficientes? ¿Cómo me doy cuenta?
                Los alimentos de buena calidad son más fáciles de autorregular ya que dan más
                saciedad y reducen la necesidad de comer de manera impulsiva.
                Intentar servir todo en un solo plato o recipiente.
                Evitar llevar fuente a la mesa.
                Tomarse el tiempo para comer a conciencia, masticar y escuchar señales de
                saciedad. No te obligues a terminar el plato si percibís señales de saciedad,
                respondemos a la orden de “nene comete todo, no dejes nada”, pero no es tu “última
                cena” si percibo saciedad intento respetar al cuerpo. En todo caso después podemos
                comer una fruta o terminar de comer lo que quedó. Pero date tiempo.</p>

        </section>


    </main>

    <section>
        <div class="container-tipsalud">
            <img class="foto-tipsalud" src="/img/cuerpo-mente-saludables.jpg" alt="imagen vista previa video">
            <br>
            <button> <a target="_blank" class="link-video" href="/media/Tips de salud.mp4">Click aquí</a> </button>
        </div>

    </section>

    <%- include("./partials/contacto.ejs") %>

    <!-- Boton de scroll hacia arriba -->
    <div id="button-up">
        <i class="fa-sharp fa-solid fa-chevron-up"></i>
    </div>

    <!-- FOOTER -->
    <%- include("./partials/footer.ejs") %>

        <!--Scripts JavaScripts-->
        <%- include("./partials/scripts.ejs") %>
</body>

</html>