<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head.ejs") %>

        <title>Motivaciones</title>
</head>

<body>
    <header>

        <%- include("./partials/header.ejs") %>

    </header>

    <div class="imagenes-frases">
        <img class="img-item" src="/img/frase-1.jpg" alt=" imagen motivacional ">
        <img class="img-item" src="/img/frase-2.jpg" alt="imagen motivacional">
        <img class="img-item" src="/img/frase-3.jpg" alt="imagen motivacional">



        <img class="img-item" src="/img/frase-4.jpg" alt="imagen motivacional">
        <img class="img-item" src="/img/frase-5.jpg" alt="imagen motivacional">
        <img class="img-item" src="/img/frase-6.jpg" alt="imagen motivacional">


        <img class="img-item" src="/img/frase-7.jpg" alt="imagen motivacional">
        <img class="img-item" src="/img/frase-8.jpg" alt="imagen motivacional">
        <img class="img-item" src="/img/frase-9.jpg" alt="imagen motivacional">
    </div>

    <%- include("./partials/contacto.ejs") %>
    
    <!-- Boton de scroll hacia arriba -->
    <div id="button-up">
        <i class="fa-sharp fa-solid fa-chevron-up"></i>
    </div>


    <!-- FOOTER -->
    <%- include("./partials/footer.ejs") %>

        <!--Scripts JavaScripts-->
        <%- include("./partials/scripts.ejs") %>
</body>

</html>